.b-container {
  position: absolute;
  z-index: 0;
  min-height: 100vh;
  min-width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;

  font-size: 20px;
  color: black;
}

canvas {
  display: block;
}
